# Ignore compiled Python files
__pycache__/

# Ignore student images (keep locally, don't push)
/images/
/reference_images/

# Ignore data files
data/attendance.db
data/student_encodings.pkl
data/absent.csv
data/present.csv
